// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Typography
// =================================================================


// 		Font Families
// =================================================================
	


// 		Weights
// =================================================================
	$light:	100;
	$regular: 400;
	$bold: 600;


// 		Base Font
// =================================================================
	$base-font-family: sans-serif;
	$base-font-weight: $regular;
	$base-font-size: 13px;
	$base-line-height: 1.4;


// 		Another Font
// =================================================================
	$another-font-family: sans-serif;
	$another-font-weight: $regular;
	$another-font-size: 13px;
	$another-line-height: 1.4;


// 		Headings
// =================================================================
	